/* Webpixels CSS */
/* Utility and component-centric Design System based on Bootstrap for fast, responsive UI development */
/* URL: https://github.com/webpixels/css */

@import url(https://unpkg.com/@webpixels/css@1.1.5/dist/index.css);

/* Bootstrap Icons */
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css");

.chart {
    width: 350px;
    height: 350px;
    margin: 0 auto;
  }

.nav-item.active > .nav-link {
  background-color: #F9A602;
  font-weight: bold;
  color: #ffffff;
}

.nav-item.active > .nav-link > .bi{
  color: #ffffff!important;
}

/* Add padding to the content area */
.content-wrapper {
  padding-left: 250px; /* Adjust this value based on your sidebar width */
}