<!-- budget_detail.html -->
{% extends 'core/main.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Budget Detail</h2>
    <dl class="row">
        <dt class="col-sm-3">Date Created:</dt>
        <dd class="col-sm-9">{{ budget.date_created }}</dd>
        
        <dt class="col-sm-3">Department:</dt>
        <dd class="col-sm-9">{{ budget.department }}</dd>
        
        <dt class="col-sm-3">Project:</dt>
        <dd class="col-sm-9">{{ budget.project }}</dd>
        
        <dt class="col-sm-3">Amount:</dt>
        <dd class="col-sm-9">{{ budget.amount }}</dd>
        
        <dt class="col-sm-3">Category:</dt>
        <dd class="col-sm-9">{{ budget.category }}</dd>
        
        <dt class="col-sm-3">Remarks:</dt>
        <dd class="col-sm-9">{{ budget.remarks }}</dd>
    </dl>
    <a href="{% url 'budget_list' %}" class="btn btn-primary">Back</a>
</div>
{% endblock %}
