{% extends 'core/main.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Create Budget</h2>
    <form method="post" enctype="multipart/form-data" class="budget-form mt-4">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    {{ form.department.label_tag }}
                    {{ form.department }}
                </div>
                <div class="form-group">
                    {{ form.amount.label_tag }}
                    {{ form.amount }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {{ form.project.label_tag }}
                    {{ form.project }}
                </div>
                <div class="form-group">
                    {{ form.category.label_tag }}
                    {{ form.category }}
                </div>
            </div>
        </div>
        <div class="form-group">
            {{ form.remarks.label_tag }}
            {{ form.remarks }}
        </div>

        <button type="submit" class="btn btn-primary mt-3"><i class="bi bi-save"></i> Save</button>
        <a href="{% url 'budget_list' %}" class="btn btn-secondary mt-3"><i class="bi bi-arrow-left"></i> Back</a>
    </form>
</div>
{% endblock %}
