{% extends 'core/main.html' %}
{% block content %}
<div class="container">
    <h1>Category List</h1>
    <a href="{% url 'category_create' %}" class="btn btn-success"><i class="bi bi-plus"></i> Create Category</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Category Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{% url 'category_detail' category.pk %}">{{ category.name }}</a></td>
                    <td>
                        <a href="{% url 'category_update' category.pk %}" class="btn btn-sm btn-primary"><i class="bi bi-pencil"></i> Edit</a>
                        <form action="{% url 'category_delete' category.pk %}" method="post" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm btn-danger"><i class="bi bi-trash"></i> Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
